header{
    height: 200px;
    background-color: #4545f5;
}
nav{
    height: 150px;
    background-color: darkgrey;
    border: solid 1px black;
}
.section1{
    height: 200px;
    background-color: green;
}
.section2{
    height: 200px;
    background-color: salmon;
}
.cuadrado1 {
    margin: auto;
    height: 100px;
    background-color: blueviolet;
    border: solid 1px black;
}
.cuadrado2{
    margin: auto;
    height: 100px;
    background-color: rgb(201, 201, 70);
    border: solid 1px black;
}
footer{
    height: 200px;
    background-color: rgb(198, 238, 20);
}