<header class="d-flex justify-content-center align-items-center">
  <nav class=" col-10"></nav>
</header>
<section class= "section1 d-flex justify-content-center align-items-center">
  <div class="col-5 cuadrado1"></div>
  <div class="col-5 cuadrado1"></div>
</section>
<section class= "section2 d-flex justify-content-center align-items-center">
  <div class="col-3 cuadrado2"></div>
  <div class="col-3 cuadrado2"></div>
  <div class="col-3 cuadrado2"></div>
</section>
<footer></footer>